<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hospital statistics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Hospitals</title>

    <!---CSS--->
    <<link rel="stylesheet" href="../../css/home.css">

    <!-- API for font --->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b4bf94b4b7.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../../images/logo.png" class="photo" alt="logo">Urgent Care</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hospitals">Hospitals</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/pharmacies">Pharmacies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rating">Rate</a>
                </li>
            </ul>
            <form class="d-flex">
                <th:block sec:authorize="!isAuthenticated()">
                    <button class="btn0" >
                        <a type="button" href="/register" style="color: #416a59">Register</a>
                    </button>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <button class="btn1" >
                        <a type="button" href="/login" style="color: #416a59">Login</a>
                    </button>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <button class="btn1" >
                        <a type="button" href="/logout" style="color: #416a59">Logout</a>
                    </button>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <button class="btn0" href="#">
                        <th:block th:if="${#request.getRemoteUser() != null}"
                                  th:text="${#request.getRemoteUser()}"></th:block>
                    </button>
                </th:block>

            </form>
        </div>
    </div>
</nav>
<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${hospitals.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Hospital name</th>
                        <th scope="col">Search count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="hospital : ${hospitals}" class="product">
                        <td th:text="${hospitals.indexOf(hospital)+1}">
                        <td th:text="${hospital.getName()}"></td>
                        <td th:text="${hospital.getSearchCount()}"></td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<section class="footer py-5">
    <div class="container-fluid py-5 ">
        <div class="row m-auto justify-content-center">
            <div class="col-lg-12">
                <div class="row text-center">
                    <div class="col-lg-3">
                        <h3 class="py-5">ЗА НАС</h3>
                        <p>Ние сме студенти на <a class="linkPage" href="https://finki.ukim.mk/">ФИНКИ</a>, чија цел е да им помогнеме на луѓето во Скопје во било кој момент да ја најдат најблиската болница или аптека.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="py-5">КОНТАКТ</h3>
                        <p class="link">Телефон: +389 77 222 333 </p>
                        <p class="link">E-mail: Urgent_team_students@finki.ukim.mk </p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="py-5">ВАЖНИ КОНТАКТИ</h3>
                        <p class="link">БРЗА ПОМОШ: 112</p>
                    </div>
                    <div class="col-lg-3">
                        <img class="rounded-circle shadow-4-strong img-thumbnail img-fluid" alt="avatar2" src="../../images/Footer.jpg" />
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!---COPYRIGHT IN FOOTER--->
    <div class="text-center p-3 copyright"> © 2022 Copyright:
        <a class="linkPage" href="#">UrgentCare.mk</a>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>