<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>

    <!--CSS-->
    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="../../css/LoginAndRegister.css">


    <!-- API for font-->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b4bf94b4b7.js" crossorigin="anonymous"></script>

</head>

<body>


<section class="Form py-1">
    <div class="container py-5">
        <div class="row g-0">
            <div class="col-lg-5">
                <img src="../../images/logo.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h4>Најавете се:</h4>

                <form method="post" action="/login">
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input name="username" type="text" class="form-control my-3 p-4" placeholder="Вашата e-mail адреса">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-7">
                            <input name="password" type="password" class="form-control my-3 p-4" placeholder="Вашата лозинка">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-7">
                            <button type="submit" class="btn0 mt-3 mb-5">Login</button>
                        </div>
                    </div>

                    <a href="#">Заборавена лозинка?</a>
                    <p>Немате профил?
                        <a href="/register"> Регистрирајте се</a>
                    </p>

                </form>
            </div>
        </div>
    </div>
</section>
<section class="footer py-5">
    <div class="text-center p-3 copyright"> © 2022 Copyright:
        <a class="linkPage" href="#">UrgentCare.mk</a>
    </div>
</section>
</body>
</html>